@model GaoKao.WebUI.Models.Question
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Analysis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Analysis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackgroundID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackgroundID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KnowledgeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MissScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MissScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaperID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaperID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionGroupID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionGroupID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<p>
        @Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("返回列表", "Index")
</p>
